name: Run Python Script Dynamically

on:
  workflow_dispatch:
    inputs:
      username:
        description: "Enter the name"
        required: true
        default: "Surya"

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run Python script with dynamic input
        run: python main.py "${{ github.event.inputs.username }}"
